.productContainer {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.productContainer > div {
  flex: 1;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.img {
  height: auto;
}
