.productGridContainer {
  border: 3px solid red;
}

.productGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  color: white;
}

.product {
  border: 1px solid red;
}
