.collapsibleContainer {
  border: 2px solid yellow;
  flex-grow: 1;
  flex-basis: auto;
  flex-shrink: 1;
}

.container {
  border: 1px solid red;
  background-color: var(--color-primary);
  color: black;
}

.titleContainer {
  display: flex;
  padding: 0.5rem 1rem;
  background-color: var(--color-primary);
  color: black;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
}

.iconContainer {
  display: flex;
  gap: 0.5rem;
  flex-direction: row;
  align-items: center;
}

.titleContainer:hover {
  background-color: var(--color-primary-hover);
  text-decoration: underline;
  cursor: pointer;
}

.contentContainer {
  padding: 0.5rem 1rem;
}
